<form action="" method="get">{{username}}</form>
<form action="" method="get">{{mail}}</form>
<form action="" method="get">{{password}}</form>

<form name="userNameForm" action="" onsubmit="return validateForm()" method="post">
User Name: <input type="text" name="username">
<input type="submit" value="Submit">
</form> 

<form name="userMailForm" action="" onsubmit="return validateForm()" method="post">
Mail: <input type="text" name="username">
<input type="submit" value="Submit">
</form> 

<form name="userPasswordForm" action="" onsubmit="return validateForm()" method="post">
Password: <input type="text" name="username">
<input type="submit" value="Submit">
</form> 